::-moz-selection {
    background-color: #eeeda2;
    color: #fff;
  }
  
  ::selection {
    background-color: #eeeda2;
    color: #fff;
  }


  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


  body { 
    line-height: 1.6;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #777;
    padding: 3rem;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .main {
    background-color: #f7f7f7;
    padding: 6rem 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: flex;
    justify-content: center;
         
  }


  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
  }
  
  .contactDetails {
    margin: 5% 0% !important;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.6rem;
    padding: 1.4rem 3rem;
    border-radius: 10rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: none;
    cursor: pointer;
    background-color: #6096af;
    color: #ecea5d; 
  }  

  .btn:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  
  .btn:focus {
    outline: none;
    background-color: #2e864b;
  }
  
#delete{
  background-color: #d8535e;
  color: #ecea5d;
}

#btnCreateContact{
  position: relative;
  top :24%;
  left: 30%;
  background-color: #f2f2f2;
  color: #6096af;
  font-weight: 900;
  font-family: inherit;
}
  .header {
    background-color: #6096af;
    color: #ecea5d;
    padding: 0 5rem;
    height: 12rem;
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
      font-size: 25px;
  }
  
  .headerCreate {
    height: 8rem;
    font-size: 16px;
    border-radius: 2px;
    margin-bottom: 20px;
    width: 100% !important;
    display: flex;
    justify-content: center;
        
  }

  #allContacts{
    height: 40px;
    position: relative;
    bottom: 40px;
    
  }

  .footer__copyright {
    justify-self: end;
    color: #999;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
   
  }
  

  .createContactDiv {
    margin: 0 auto;
    max-width: 220rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    padding: 0 0 0rem 0;
    border-radius: 15px;
    display: none;
        
  }

  .userInput {
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    font-weight: bold;
    padding: 1.25rem 2rem;
    border: none;
    width: 95%;
    background-color: #fff;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
  
  }


  .userInput:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
  }
  .userInput:focus:invalid {
    border-bottom: 3px solid #ff7730;
  }
  .userInput::-webkit-input-placeholder {
    color: #bbb;
  }
  
  .formAdd:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  
  .contactLabel {
    display: block;
    font-size: 15px;
    font-weight: 700;
    
  }



  input:invalid {
    border: 2px solid #ffccc4;
  }
  
  input:valid {
    border: 2px solid #b9fff4;
  }



 

#addForm{
  text-align: center;
padding: 0 3%;
} 

.wrapper{
  max-width: 450px;
  margin: 150px auto;
}

.wrapper .search-input{
  background: #fff;
  width: 35%;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  color: #777;
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .search-suggestion{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .search-suggestion{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.search-suggestion li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  color: #777;
}

.search-input.active .search-suggestion li{
  display: block;
}
.search-suggestion li:hover{
  background: #efefef;
}

.display-contact.active {
  display: block;
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  font-weight: bold;
  padding: 1.25rem 2rem;
  border: none;
  width: 50%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px; 
 -webkit-box-sizing: border-box;
  box-sizing: border-box;
 list-style: none; 
 
}
.display-contact.active li{
padding: 4px;
}

.display-contact.active input{
  font-size: 1.3rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
  cursor: pointer; 
 

}

.display-contact.active input:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.display-contact.active input:focus {
  outline: none;
  background-color: #2e864b;
}

.contactLabel-display {
  display: none;
}

.contactLabel-display.active {
  display: block;
  font-size: 15px;
  font-weight: 700;

}

.contactListwrapper{
  max-width: 475px;
  width: 100%;
  display: flex;
  justify-content: center;
  
  
}
.contactListwrapper .contactList{
  background: #fff;
  width: 35%;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  font-size: 18px;
  font-weight:550;
  overflow-y: scroll;
max-height: 400px;
}

.contactList li{
  list-style: none;
  padding: 8px 2px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  color: #777;
}

.contactList li{
  display: block;
}
.contactList li:hover{
  background: #efefef;
}

